# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Databases
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
